body{
    font-family:"Arial";
    background: #f1ffff;
}
/*header开始*/
header{
    width:100%;
    text-align:center;
}
header ul li{
    display:inline-block;
    width:80px;
    height:80px;
    background:#e5eaff;
    font-size:35px;
    text-align:center;
    line-height:80px;
    margin:0 4px;
    border-radius:50%;
}
header ul li:nth-child(1){
    color: #7de9ee;
}
header ul li:nth-child(2){
    color: #d3c6ff;
}
header ul li:nth-child(3){
    color:#8f7a66;
}
header ul li:nth-child(4){
    color: #80b8ee;
}
header ul li:hover{
    display:inline-block;
    transform:scale(1.2);
}
header p{
    margin:30px auto;
    font-size:18px;
}
header a{
    width:60px;
    padding:10px;
    background: #a5afb5;
    color:#666;
    border-radius:10px;
    text-decoration:none;
    margin:0 0 0 100px;
}
header a:active{
    color:#000;
}
/*header结束*/

/*div开始*/
#square-container{
    width:460px;
    height:460px;
    padding:20px;
    margin:50px auto;
    background:#bbada0;
    border-radius:15px;
    position:relative;
}
.square-cell{
    width:100px;
    height:100px;
    border-radius:6px;
    background:#ccc0b3;
    position:absolute;
}
.number-cell{
    font-size:50px;
    font-weight:bold;
    text-align:center;
    line-height:100px;
    border-radius:10px;
    position:absolute;
}
/*div结束*/

